body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.left-section {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #ccc;
}

.title {
    font-size: 30px;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    color: #333;
    box-shadow: 0 2px 2px 2px grey;
}

.map-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#simulationCanvas {
    border: 1px solid #ccc;
    margin: 20px;
    width: 80vh;
    height: 80vh;
    border: .5rem solid grey;
}

.right-section {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.communication-container {
    display: flex;
    flex-grow: 1;
    height: 100%;
    flex-direction: column;
    padding: 1rem;
}

.input-box {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

input.input-box-text {
    margin: 0;
    padding: .25rem .5rem .25rem .5rem;
    border: .25rem solid #ccc;
    border-radius: .5rem;
    color: #333333;
    font-size: medium;
    height: 3rem;
    flex: 1;
}

button.input-box-button {
    height: 4rem;
    margin-left: 1rem;
    font-size: medium;
    border-radius: .5rem;
    border-style: none;
    background-color: rgb(72, 193, 153);
}

button.input-box-button:hover {
    background-color: rgb(101, 192, 162);
}

button.input-box-button:active {
    background-color: rgb(35, 93, 73);
}

/* container for the robot buttons */
div.robot-buttons-container {
    background-color: #e9ecef;
    padding: .5rem;
    margin: 1rem 0 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    border-radius: .25rem;
}

/* robot button itself */
div.robot-button {
    display: flex;
    margin: .5rem;
    padding: 0 1rem 0 1rem;
    height: 100%;
    border: .1rem solid blue;
    border-radius: .5rem;
    align-items: center;
    justify-content: center;
}
div.robot-button:hover {
    background-color: paleturquoise;
}

div.robot-button:active {
    background-color: grey;
}

div.robot-button-selected {
    background-color: green;
}

#data {
    padding: 15px;
    background-color: #e9ecef;
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.slider-labels {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 5px;
}

input[type="range"] {
    width: 80%;
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    background: #d3d3d3;
    border-radius: 5px;
    transition: background 0.3s;
}

input[type="range"]:active {
    background: #007BFF
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: 2px solid #007BFF;
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: 2px solid #007BFF;
    border-radius: 50%;
    cursor: pointer;
}

.message-box {
    padding: 15px;
    margin: 10px 0;
    border: 5px solid #ccc;
    border-radius: 10px;
    color: #fff;
}

.message-low {
    background-color: #ffa07a
}

.message-medium {
    background-color: #90ee90
}

.message-high {
    background-color: #dda0dd
}

.blinking-text {
    font-weight: bold;
    font-size: 16px;
    animation: blink-animation 1s steps(5, start) infinite;
    color: #007BFF;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}